h1 {
    color: blueviolet;
    text-align: center;
    size: 1;
}
h2 { 
    color: blueviolet;
    text-align: center;
}
h3, h4, h5 {
    color: blue;
    text-align: center;
}

header {
    color: cyan;
    text-align: center;
    size: 5;
}
body {
    background-color: blueviolet;
}