h1 {
    color: cornflowerblue;
    text-align: center;
    text-shadow: cornflowerblue;
}
h3 {
    color: cornflowerblue;
    text-align: center;
    text-shadow: cornflowerblue;
}
body {
    background-color: blueviolet;
}